@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Cinzel:wght@600;700;900&display=swap');

/*The default nav bar and footer used in every single page.*/
nav {
  background-color: #003D2E;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: Catamaran, serif;
}
.logo {
  font-size: 35px;
  font-weight: 900;
  font-family: Cinzel, serif;
  display: flex;
  align-items: center;
}
.logo a {
  text-decoration: none;
  background: -webkit-linear-gradient(white, #7DBA84);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu {
  display: flex;
  justify-content: flex-end;
}
.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}
.menu a:hover {
  background-color: #249445;
}
footer {
    background-color: #003D2E;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Cinzel, serif;
}
/*-------------------------------*/

body{
    background-color: #FDF9EC;
}
img{
    height: 250px;
    width: 500px;
    margin:5px;
}
.spa,.landing,.restaurants,.ent {
    text-align: center;
    font-family: Catamaran, serif;
    justify-content: center;
    padding-bottom: 90px;
}
.spa-text,.landing,.restaurant-text,.ent-text {
    width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0px 2px 15px #333;
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
    font-size: 18px;
}

.spa-text:hover,.landing:hover,.restaurant-text:hover,.ent-text:hover{
    box-shadow: 0px 2px 10px #31AF44;
}
  
.landing li{
    list-style-type: none;
}

.landing ul{
    padding-inline-start: 0px;
}

.landing{
    height: 700px;
    width: 500px;
    overflow:auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .2s;
}

.landing-wrapper{
    background-image: url(../images/hotel-outside.jpg);
}

.landing:hover{
    transform: scale(1.05);
}

.title{
    font-size: 70px;
    font-family: Cinzel, serif;
    text-align: center;
    padding-top: 90px;
}

.images-rest,.images-ent,.images-spa{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

hr{
    border: solid #31AF44 3px;
}

  
  
  